extends layout
block content
    if (!user)
      a(href="/login") Login
      br
      a(href="/register") Register
    if (user)
      p You are currently logged in as #{user.username}
      a(href="/ship") Take me to ship
      br
      a(href="/logout") Logout