extends layout

block content
  h1= title
  form#shipForm(action="/resource/ship", method="POST")
    div.form-group
      label.shipAttr(for='Model') ship Model
      input#Model(type='text', name='Model')
    div.form-group
      label.shipAttr(for='yearofmanufacturing') ship yearofmanufacturing
      input#yearofmanufacturing(type='number', name='yearofmanufacturing')
    div.form-group
      label.shipAttr(for='color') ship type
      input#color(type='text', name='color')
    input(type="submit")
    script.
      document.forms['shipForm'].addEventListener('submit', (event) => {
        event.preventDefault();
        // TODO do something here to show user that form is being submitted
        fetch(event.target.action, {
          method: 'POST',
          body: new URLSearchParams(new FormData(event.target)) // event.target is the form
        }).then((resp) => {
          return resp.json(); // or resp.text() or whatever the server sends
        }).then((body) => {
          alert("Save succeeded");
          // TODO handle body
        }).catch((error) => {
          // TODO handle error
          alert("Save failed " + error );
        });
      });
